body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: white;
}

.calculator {
    text-align: center;
    color: white;
}

.calculator-box {
    padding: 30px;
    border-radius: 20px;
    background-color: #75c8f8;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    margin-bottom: 20px;
    color: black;
}

#display {
    width: 100%;
    margin-bottom: 20px;
    font-size: 18px;
    padding: 5px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 6px;
}

button {
    padding: 10px;
    font-size: 18px;
    cursor: pointer;
    background-color: #236590;
    color: white;
    border: 1px solid #2980b9;
}

button:hover {
    background-color: #2980b9;
}

.result {
    margin-top: 10px;
    font-size: 20px;
}
